<h1>Search Results</h1>

<section id="total-members">
  <h2>Total Members: <%= @facade.total_members %></h2>
</section>

<section id="members">
  <% @facade.members.each do |member| %>
      <h3><%= member.name %></h3>
      <% if member.photo_url %>
        <img src= <%= member.photo_url %>>
      <% end %>
      <p>Allies: 
        <% if member.allies.nil? %>
          None 
        <% else %>
          <%= member.allies %> 
        <% end %></p>
      <p>Enemies: 
        <% if member.enemies.nil? %>
          None 
        <% else %> 
          <%= member.enemies %>
        <% end %></p>
      <p>Affiliations: <%= member.affiliation %></p>
  <% end %>
</section> 